; Adding this as npm 7 automatically installs peer dependencies, but pnpm does not.
; This configuration setting enables automatic installation of peer dependencies.
auto-install-peers=true

; Enabling npm to install dependencies even if they don't strictly match peer dependency versions.
; This can be useful to avoid strict peer dependency conflicts, but be cautious as it might lead to compatibility issues.
strict-peer-dependencies=false

; Enabling the execution of pre/post scripts during package installation.
; This allows npm to execute scripts defined in the package.json's "preinstall" and "postinstall" sections.
enable-pre-post-scripts=true
